@charset "UTF-8";
.navbar-nav .nav-item {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase; }
  .navbar-nav .nav-item .nav-link {
    color: #885224; }
    .navbar-nav .nav-item .nav-link:hover {
      color: #c96533; }
  .navbar-nav .nav-item .nav-link.active {
    color: #c96533; }
.navbar-nav .navbar-toggler {
  outline: none; }
  .navbar-nav .navbar-toggler:focus {
    box-shadow: none !important; }

.bg-light-orange {
  background-color: #e6c6ad; }

.bg-orange {
  background-color: #c96533; }

img {
  width: 100%; }

.p2-5rem {
  padding: 2.5rem; }

.absolute-center {
  position: absolute;
  padding: 0 2rem;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.btn-more {
  background-color: transparent;
  border: 1px solid #000;
  color: #000; }
  .btn-more:hover {
    background-color: #000;
    color: #fff; }

.text-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.text-line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.text-line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.text-line-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.a-black-style {
  text-decoration: none;
  color: #212529; }
  .a-black-style:hover {
    color: #000; }

.cursor-pointer {
  cursor: pointer; }

.c-yellow {
  color: #936601; }

.zoom-in {
  overflow: hidden; }
  .zoom-in img {
    transition: all 1s; }
  .zoom-in .overflow-hidden {
    border-radius: 6px; }
  .zoom-in:hover img {
    transform: scale(1.1);
    transition: all 1s; }

.home-body .sect-blog .main-blog {
  background-color: #cf9776; }
.home-body .sect-blog .sub-blog {
  background-color: #c96533; }
  .home-body .sect-blog .sub-blog img {
    border-radius: 6px; }
.home-body .sect-blog .shadow-orange {
  border: 1px solid #cf9776;
  border-radius: 6px; }
  .home-body .sect-blog .shadow-orange:hover {
    box-shadow: 0px 0px 2px 2px #cf9776; }
.home-body .sect-news .row {
  border-bottom: 1px solid #cf9776;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }
  .home-body .sect-news .row .col-md-6:first-child {
    padding-left: 0; }
  .home-body .sect-news .row .col-md-6:last-child {
    padding-right: 0; }
.home-body .sect-comment .box-bg {
  background-color: #cf9776;
  padding: 3rem; }
  .home-body .sect-comment .box-bg .quotation {
    font-size: 30px;
    quotes: "“" "”" "‘" "’";
    padding: 10px 20px;
    line-height: 1.4; }
    .home-body .sect-comment .box-bg .quotation:before {
      content: open-quote;
      display: inline;
      height: 0;
      line-height: 0;
      left: -10px;
      position: relative;
      top: 30px;
      color: #936601;
      font-size: 3em; }
    .home-body .sect-comment .box-bg .quotation::after {
      content: close-quote;
      display: inline;
      height: 0;
      line-height: 0;
      left: 10px;
      position: relative;
      top: 35px;
      color: #936601;
      font-size: 3em; }

.footer {
  background-color: #c96533; }
  .footer .f-social a {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 0 1rem;
    font-size: 1.55rem;
    color: #c96533; }
    .footer .f-social a:hover {
      background-color: #000;
      color: #fff; }

.single-album .album-item img {
  border-radius: 6px; }

.single-article .banner img {
  height: 250px;
  object-fit: cover; }
.single-article .col-text h1 {
  line-height: 2.5rem; }
.single-article .post-body {
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 6px;
  height: 100%; }
  .single-article .post-body:hover {
    box-shadow: 0px 0px 4px 0px #212529; }

.navigation-center {
  border-top: 1px solid #ccc;
  padding-top: 1rem; }
  .navigation-center .pagination {
    justify-content: center; }
    .navigation-center .pagination li {
      line-height: 30px; }
      .navigation-center .pagination li a {
        display: inline-block;
        height: 30px;
        text-align: center;
        border: 1px solid #212529;
        border-radius: 5px;
        margin: 0 3px;
        padding: 0 1rem;
        text-decoration: none;
        color: #212529; }
      .navigation-center .pagination li.active a {
        background-color: #212529;
        color: #fff; }
      .navigation-center .pagination li:hover a {
        background-color: #212529;
        color: #fff; }

@media (max-width: 767px) {
  .absolute-center {
    position: static;
    padding: 0;
    margin-top: 1rem;
    transform: unset; }

  .order-1 {
    order: 1; }

  .order-2 {
    order: 2; }

  .home-body .sect-news .row .col-md-6:first-child {
    padding: 0; } }
@media (max-width: 575px) {
  .home-body .sect-news .row .col-md-6:first-child {
    padding: 0 15px; } }
body {
  font-family: 'sarabun-regular'; }

.ff-bold {
  font-family: 'sarabun-bold'; }

.ff-medium {
  font-family: 'sarabun-medium'; }

/*# sourceMappingURL=style.css.map */
